/* Styling theme 2 */

/* Backgrounds */
$theme2-background-color-gray1: hsl(0, 0%, 90%);
$theme2-background-color-gray2: hsl(0, 5%, 81%);
$theme2-background-color-gray3: hsl(0, 0%, 93%);

/* Keys */
$theme2-key-color-dark-cyan: hsl(185, 42%, 37%);
$theme2-key-shadow-color-dark-cyan: hsl(185, 58%, 25%);

$theme2-key-color-orange: hsl(25, 98%, 40%);
$theme2-key-shadow-color-orange: hsl(25, 99%, 27%);

$theme2-key-color-gray: hsl(45, 7%, 89%);
$theme2-key-shadow-color-gray: hsl(35, 11%, 61%);

/* Text */
$theme2-text-grey: hsl(60, 10%, 19%);
$theme2-text-white: hsl(0, 0%, 100%);

.theme2 {
    color: $theme2-text-grey;
    background-color: $theme2-background-color-gray1;
    .main {
        .content {
            .header {
                .theme-toggle-wrapper {
                   .theme-toggle {
                        /* background-color: $theme1-background-color-dark-blue2; */
                        .theme-toggle-btn {
                            /* background-color: $theme1-key-color-red; */
                            &#toggle-theme-1 {
                                
                            }
                        }

                   } 
                }
            }
            .calc {
                .calc-display {
                    /* background-color: $theme1-background-color-dark-blue3; */
                }
                .calc-keys {
                    /* background-color: $theme1-background-color-dark-blue2; */
                    .calc-key {
                        /* background-color: $theme1-key-color-grey;
                        border-color: $theme1-key-shadow-color-grey;
                        color: $theme1-text-grey-blue; */
                        
                        &#del {
                            /* background-color: $theme1-key-color-blue;
                            border-color: $theme1-key-shadow-color-blue;
                            color: $theme1-text-white */;
                        }
                        &#reset {
                           /*  background-color: $theme1-key-color-blue;
                            border-color: $theme1-key-shadow-color-blue;
                            color: $theme1-text-white; */
                        }

                        &#equal {
                           /*  background-color: $theme1-key-color-red;
                            border-color: $theme1-key-shadow-color-red;
                            color: $theme1-text-white; */
                        }
                    }
                }
            }
        }
    }
    .footer {
        font-size: 1.2rem;
        a {
            /* color: $theme1-key-color-red; */
            
        }
    } 
}